@CHARSET "UTF-8";

head {
	margin 0px; padding: 0px;
}

.header {
	position: absolute;
	left: 0px; right: 0px; top: 0px;
	height: 100px;
}

.header {
	background-image: url('../image/blade.gif');
	background-repeat: no-repeat;
	padding: 0px 0px 0px 100px;
}

.header {
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	overflow: hidden;
	white-space: nowrap;
}

.header h1, .header h2 {
	margin: 0px; padding: 0px;
	position: relative;
	top: 8px;
}

.header h2 {
	font-style: italic;
}

.sidebar {
	position: absolute;
	left: 0px; top: 100px; bottom: 0px;
	width: 10%;
}

.sidebar {
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	overflow: hidden;
	white-space: nowrap;
}

.sidebar ul {
	list-style: none;
	margin: 0px 10px; padding: 0px;
}

.sidebar a {
	text-decoration: none;
	color: black;
}

.sidebar a:hover {
	font-weight: bolder;
}

.content {
	position: absolute;
	right: 0px; top: 100px; bottom: 0px;
	width: 90%;
}

.content {
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

.content {
	margin: 0px; padding: 0px;
}

.content h1, .content p {
	margin: 0px; padding: 0px;
}

.content p {
	margin: 0px 0px 0px 1em; padding: 0px;
}

.content h2 {
	margin: 0.5ex 0px 0px 0px; padding: 0px;
}

.content h1 {
	font-size: x-large;
}

.content h2 {
	font-size: large;
}

.content ul {
	list-style: none;
	margin: 0px; padding: 0px 0px 0px 2em;
}

.content a {
	text-decoration: none;
	color: black;
}

.content a:hover {
	font-weight: bolder;
}

.signout {
	position: absolute;
	top: 0px; right: 0px;
	margin: 8px;
}

.signout {
	text-decoration: none;
	color: black;
}

.signout:hover {
	font-weight: bolder;
}
