<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>DDD Tic Tac Toe - {% block title %}Main{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="/static/css/base.css">
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<div id="header" class="header">
			<h1>DDD Tic Tac Toe</h1>
			<h2>An exploration in domain driven design</h2>
			{% if signout %}<a class="signout" href="{{signout}}">Sign out</a>{% endif %}
		</div>
		<div id="sidebar" class="sidebar">
			{% block sidebar %}
				<ul>
					<li><a href="/game/new/">New Game</a></li>
					<li><a href="/game/">Game Overview</a></li>
				</ul>
			{% endblock %}
		</div>
		<div id="content" class="content">
			{% block content %}
				<p>
					Use the side bar to navigate this application.
				</p>
			{% endblock %}
		</div>
	</body>
</html>
