{% extends "base.html" %}

{% block title %}Game Overview{% endblock %}

{% block content %}
<h1>Overview of Games</h1>
<h2>Active Games</h2>
<p>
	{% if activeGames %}
		The following games are active
		<ul>
			{% for activeGame in activeGames %}		
				<li><a href="/game/{{activeGame.uuid}}/">#{{activeGame.index}}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		There are no active games.
	{% endif %}
</p>
<h2>Historic Games</h2>
<p>
	{% if finishedGames %}
		The following games are finished
		<ul>
			{% for finishedGame in finishedGames %}		
				<li><a href="/game/{{finishedGame.uuid}}/">#{{finishedGame.index}}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		There are no finished games.
	{% endif %}
</p>
{% endblock %}
