{% extends "base.html" %}

{% block title %}Game History{% endblock %}

{% block content %}
{% if game_uuid %}
	<h1>{{game_uuid}}</h1>
	<p>
		<table border="1">
			<tr>
				<th>{% if prevPly %}<a href="/game/{{game_uuid}}/{{prevPly}}">&lt;</a>{% else %}&nbsp;{% endif %}</th>
				<th>&nbsp;</th>
				<th>{% if nextPly %}<a href="/game/{{game_uuid}}/{{nextPly}}">&gt;</a>{% else %}&nbsp;{% endif %}</th>
			</tr>
			<tr>
				<td>{{ ul }}</td><td>{{ uc }}</td><td>{{ ur }}</td>
			</tr>
			<tr>
				<td>{{ ml }}</td><td>{{ mc }}</td><td>{{ mr }}</td>
			</tr>
			<tr>
				<td>{{ ll }}</td><td>{{ lc }}</td><td>{{ lr }}</td>
			</tr>
		</table>
	</p>
{% else %}
	<p>No game data available</p>
{% endif %}
{% endblock %}
